<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://unpkg.com/@mdi/font@6.x/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vuetify@2.6.10/dist/vuetify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <script src="https://unpkg.com/babel-polyfill/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/vuetify@2.6.10/dist/vuetify.min.js"></script>
    <title>Plastic Preciós Admin</title>
</head>
<body>
    <v-app align="center" id="app">
        <template>
            <v-container>
              <template>
                <v-data-table
                  :headers="headers"
                  :items="users"
                  :items-per-page="5"
                  class="elevation-1"
                  v-for="(user) in users"
                >
                <template v-slot:item="row">
                  <tr>
                    <td>{{user.id_usuari}}</td>
                    <td>{{user.nom}}</td>
                    <td>{{user.cognoms}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.tel}}</td>
                    <td>{{user.rol}}</td>
                    <td>
                      <v-btn
                      elevation="2"
                      raised
                      rounded
                      x-small
                      @click="delUser(user.id_usuari)"
                      color="red"
                    >BAN</v-btn>
                    </td>
                  </tr>
              </template>
              </v-data-table>
              </template>
              <v-navigation-drawer
                absolute
                permanent
                left
              >
                <template v-slot:prepend>
                  <v-list-item two-line>
                    <v-list-item-avatar>
                      <img src="https://randomuser.me/api/portraits/men/80.jpg">
                    </v-list-item-avatar>
                      <!--SIDE BAR-->
                    <v-list-item-content>
                      <v-list-item-title>Jane Smith</v-list-item-title>
                      <v-list-item-subtitle>Logged In</v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item two-line>
                    <v-list-item-avatar>
                      <img src="https://randomuser.me/api/portraits/men/70.jpg">
                    </v-list-item-avatar>
                      <!--SIDE BAR-->
                    <v-list-item-content>
                      <v-list-item-title>Jane Smith</v-list-item-title>
                      <v-list-item-subtitle>Logged In</v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item two-line>
                    <v-list-item-avatar>
                      <img src="https://randomuser.me/api/portraits/men/60.jpg">
                    </v-list-item-avatar>
                      <!--SIDE BAR-->
                    <v-list-item-content>
                      <v-list-item-title>Jane Smith</v-list-item-title>
                      <v-list-item-subtitle>Logged In</v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </template>
          
                <v-divider></v-divider>
          
                <v-list dense>
                  <!-- <v-list-item
                    v-for="item in items"
                    :key="item.title"
                  >
                    <v-list-item-icon>
                      <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-icon>
          
                    <v-list-item-content>
                      <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item> -->
                </v-list>
              </v-navigation-drawer>
            </v-container>
          </template>
          
    </v-app>
    <script src="index.js"></script>

    <script>app.getUsers()</script>
</body>
</html>