<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://unpkg.com/@mdi/font@6.x/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vuetify@2.6.10/dist/vuetify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <script src="https://unpkg.com/babel-polyfill/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/vuetify@2.6.10/dist/vuetify.min.js"></script>
    <title>Plastic Preciós Admin</title>
</head>
<!-- LOGIN --><!-- LOGIN --><!-- LOGIN --><!-- LOGIN --><!-- LOGIN -->
<body>
    <v-app align="center" id="app">
        <v-container v-if="rol != 'admin'" fill-height class="spacing-playground mb-16">
        <v-row justify = "center" align-items = "center">
        <v-col cols = "10" sm = "5">
            <v-sheet class = "mx-auto">
                <v-img src="./imgs/plastic_precios_login.png" alt="Plastic_Precios" width="250" height="250"></v-img><br>
            </v-sheet>
        <v-text-field
                id="email"
                label="Email"
                outlined
            ></v-text-field>  
            <v-text-field
                id="pwd"
                type="password"
                label="Contraseña"
                outlined
            ></v-text-field>  
            <v-sheet class = "mx-auto">
                <v-btn @click="logIn"
                color="#A1F9A5">
                    Log In
                </v-btn>
             </v-sheet>
    </v-cols>
    </v-row>
    </v-container>
    <!-- LOGIN --><!-- LOGIN --><!-- LOGIN --><!-- LOGIN --><!-- LOGIN -->
    <!-- PANEL ADMIN --><!-- PANEL ADMIN --><!-- PANEL ADMIN --><!-- PANEL ADMIN --><!-- PANEL ADMIN -->
        
        <template v-if="rol == 'admin'">
            <v-container>
              <template>
                <!-- CLIENTS --><!-- CLIENTS --><!-- CLIENTS --><!-- CLIENTS --><!-- CLIENTS -->
                <v-data-table
                v-if="mode == 0"
                  :headers="headers"
                  :items="users"
                  :items-per-page="5"
                  class="elevation-1"
                >
                <template v-slot:item="row">
                  <tr>
                    <td>{{row.item.id_usuari}}</td>
                    <td>{{row.item.nom}}</td>
                    <td>{{row.item.cognoms}}</td>
                    <td>{{row.item.email}}</td>
                    <td>{{row.item.tel}}</td>
                    <td>{{row.item.rol}}</td>
                    <td>
                      <v-btn
                      elevation="2"
                      raised
                      rounded
                      x-small
                      @click="delUser(row.item.id_usuari)"
                      color="red"
                    >BAN</v-btn>
                    </td>
                  </tr>
              </template>
              </v-data-table>
              <!-- CLIENTS --><!-- CLIENTS --><!-- CLIENTS --><!-- CLIENTS --><!-- CLIENTS -->
              </template>
              <!-- ARTIST_REQ --><!-- ARTIST_REQ --><!-- ARTIST_REQ --><!-- ARTIST_REQ --><!-- ARTIST_REQ -->
              <v-data-table
                v-if="mode == 1"
                  :headers="headers"
                  :items="users"
                  :items-per-page="5"
                  class="elevation-1"
                >
                <template v-slot:item="row">
                  <tr>
                    <td>{{row.item.id_usuari}}</td>
                    <td>{{row.item.nom}}</td>
                    <td>{{row.item.cognoms}}</td>
                    <td>{{row.item.email}}</td>
                    <td>{{row.item.tel}}</td>
                    <td>{{row.item.rol}}</td>
                    <td>
                        <v-btn
                        elevation="2"
                        raised
                        rounded
                        x-small
                        @click="acceptDeclineArtist(row.item.id_usuari, 0)"
                        color="green"
                      >Accept</v-btn>
                        <v-btn
                        elevation="2"
                        raised
                        rounded
                        x-small
                        @click="acceptDeclineArtist(row.item.id_usuari, 1)"
                        color="red"
                      >Decline</v-btn>
                      </td>
                  </tr>
              </template>
              </v-data-table>
              <!-- ARTIST_REQ --><!-- ARTIST_REQ --><!-- ARTIST_REQ --><!-- ARTIST_REQ --><!-- ARTIST_REQ -->
              <template>
                  <v-navigation-drawer permanent
                  left
                  absolute>
                    <v-list-item>
                      <v-list-item-content>
                        <v-list-item-title class="text-h6">
                          ADMIN PANEL
                        </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
              
                    <v-divider></v-divider>
              
                    <v-list
                      dense
                      nav
                    >
                    <br>
                    <v-btn
                    block
                    elevation="2"
                    @click="getUsers"
                    color="#A1F9A5"
                    >CLIENTS</v-btn>
                    <br>
                    <v-divider></v-divider>
                    <br>
                    <v-btn
                    block
                    elevation="2"
                    @click="getArtistRequest"
                    color="#A1F9A5"
                    >ARTIST_REQ</v-btn>
                    <br>
                    <v-divider></v-divider>
                    </v-list>
                  </v-navigation-drawer>
              </template>
            </v-container>
          </template> 
    </v-app>
    <!-- PANEL ADMIN --><!-- PANEL ADMIN --><!-- PANEL ADMIN --><!-- PANEL ADMIN --><!-- PANEL ADMIN -->
    <script src="index.js"></script>
    <script>app.getUsers()</script><!-- BORRAR, SOLO PARA TRABAJAR MÁS COMODO -->
</body>
</html>