<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://unpkg.com/@mdi/font@6.x/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vuetify@2.6.10/dist/vuetify.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <script src="https://unpkg.com/babel-polyfill/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/vuetify@2.6.10/dist/vuetify.min.js"></script>
    <title>Plastic Preciós Admin</title>
</head>
<!-- LOGIN --><!-- LOGIN --><!-- LOGIN --><!-- LOGIN --><!-- LOGIN -->
<body>
    <v-app align="center" id="app">
        <v-container v-if="admin.rol != 'admin'" fill-height class="spacing-playground mb-16">
        <v-row justify = "center" align-items = "center">
        <v-col cols = "10" sm = "5">
            <v-sheet class = "mx-auto">
                <v-img src="./imgs/plastic_precios_login.png" alt="Plastic_Precios" width="250" height="250"></v-img><br>
            </v-sheet>
        <v-text-field
                id="email"
                label="Email"
                outlined
            ></v-text-field>  
            <v-text-field
                id="pwd"
                type="password"
                label="Contraseña"
                outlined
            ></v-text-field>  
            <v-sheet class = "mx-auto">
                <v-btn @click="logIn"
                color="#A1F9A5">
                    Log In
                </v-btn>
             </v-sheet>
    </v-cols>
    </v-row>
    </v-container>
    <!-- LOGIN --><!-- LOGIN --><!-- LOGIN --><!-- LOGIN --><!-- LOGIN -->
    <!-- PANEL ADMIN --><!-- PANEL ADMIN --><!-- PANEL ADMIN --><!-- PANEL ADMIN --><!-- PANEL ADMIN -->
        
        <template v-if="admin.rol == 'admin'">
          <template>
            <div>
              <v-toolbar app

                src="./imgs/banner_plastic_precios.png"
              >
                <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>
          
                <v-toolbar-title>Pastic Preciós</v-toolbar-title>
          
                <v-spacer></v-spacer>
          
                <v-btn icon>
                  <v-icon @click="logOut">mdi-export</v-icon>
                </v-btn>
              </v-toolbar>
              <v-navigation-drawer color="#A1F9A5" app v-model="drawer" temporary>
                <v-layout mt-4 column align-center>
                  <v-flex>
                    <v-avatar>
                      <img src="./imgs/dfaultUser.png" alt="">
                    </v-avatar>
                  </v-flex>
                  <v-flex>
                    <p class="mt-3 headline">{{admin.nom}} {{admin.cognoms}}</p>
                  </v-flex>
                  <v-divider></v-divider>
                    <v-btn
                      block
                      @click="getUsers"
                      elevation="0"
                      height="100"
                      color="#A1F9A5"
                      ><v-icon>mdi-account</v-icon>&nbsp;CLIENTS</v-btn>
                    <v-divider></v-divider>
                      <v-btn
                      block
                      @click="getArtistRequest"
                      elevation="0"                    
                      height="100"
                      color="#A1F9A5"
                      ><v-icon>mdi-basket</v-icon>&nbsp;ARTIST_REQ</v-btn>
                    <v-divider></v-divider>
                      <v-btn
                      block
                      @click="getProducts"
                      elevation="0"                    
                      height="100"
                      color="#A1F9A5"
                      ><v-icon>mdi-message</v-icon>&nbsp;PRODUCTES</v-btn>
                    <v-divider></v-divider>
                </v-layout>
                
                
            </div>
          </template>
            <v-container>
              <template>
                <v-data-table
               
                  :headers="headers"
                  :items="users"
                  :items-per-page="5"
                  class="elevation-1"
                >
                <template v-slot:item="row">
                  <tr v-if="mode == 0 || mode == 1">
                    <td>{{row.item.id_usuari}}</td>
                    <td><v-layout justify-center>
                        {{row.item.nom}}
                        </v-layout>
                    </td>
                    <td><v-layout justify-center>
                        {{row.item.cognoms}}
                        </v-layout>
                    </td>
                    <td><v-layout justify-center>
                        {{row.item.email}}
                        </v-layout>
                    </td>
                    <td><v-layout justify-center>
                        {{row.item.tel}}
                        </v-layout>
                    </td>
                    <td><v-layout justify-center>
                        {{row.item.rol}}
                        </v-layout>
                    </td>
                    <td v-if="mode == 0">
                        <v-layout justify-center>
                            <v-btn
                      elevation="2"
                      raised
                      rounded
                      x-small
                      @click="delUser(row.item.id_usuari)"
                      color="red"
                    >ELIMINA</v-btn>
                        </v-layout>
                    </td>
                    <td v-if="mode == 0">
                      <v-layout justify-center>
                          <v-btn
                    elevation="2"
                    raised
                    rounded
                    x-small
                    @click="banUser(row.item.id_usuari)"
                    color="yellow"
                  >BAN</v-btn>
                      </v-layout>
                  </td>
                    <td v-if="mode == 1">
                        <v-layout justify-center>
                        <v-btn
                        elevation="2"
                        raised
                        rounded
                        x-small
                        @click="acceptDeclineArtist(row.item.id_usuari, 0)"
                        color="green"
                      >Accept</v-btn>
                        <v-btn
                        elevation="2"
                        raised
                        rounded
                        x-small
                        @click="acceptDeclineArtist(row.item.id_usuari, 1)"
                        color="red"
                      >Decline</v-btn>
                      <td v-if="mode == 2">
                        <v-layout justify-center>
                        </v-layout>
                    </td>
                    </v-layout>
                      </td>
                  </tr>


                  <tr v-if="mode == 2">
                    <td><v-layout justify-center>
                        {{row.item.id_producte}}
                        </v-layout>
                    </td>
                    <td><v-layout justify-center>
                        {{row.item.nom_producte}}
                        </v-layout>
                    </td>
                    <td><v-layout justify-center>
                        {{row.item.preu}}
                        </v-layout>
                    </td>
                    <td><v-layout justify-center>
                        {{row.item.stock}}
                        </v-layout>
                    </td>
                    <td><v-layout justify-center>
                        {{row.item.path_img}}
                        </v-layout>
                    </td>
                    <td><v-layout justify-center>
                        {{row.item.id_vendedor}}
                        </v-layout>
                    </td>
                      <td v-if="mode == 2">
                        <v-layout justify-center>
                            <v-btn
                      elevation="2"
                      raised
                      rounded
                      x-small
                      @click="delProduct(row.item.id_producte)"
                      color="red"
                    >ELIMINA</v-btn>
                        </v-layout>
                    </td>
                    </v-layout>
                      </td>
                  </tr>
              </template>
              </v-data-table>
              </template>
            </v-container>
          </template> 
    </v-app>
    <script src="index.js"></script>
</body>
</html>